# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Solutions
*.h5
*.vtk
*.zip

# temporary files
*.tmp

# Executables
main*
!main*.cc

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
